<div class="animated fadeIn">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header">
                    <i class="fa fa-align-justify"></i> Your Courses and Learning Paths
                </div>
                <div class="card-body">
                    <table class="table table-bordered table-striped table-sm">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Date registered</th>
                                <th>Role</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Machine Learning</td>
                                <td>2018/01/01</td>
                                <td>Stanford - Coursera</td>
                                <td>
                                    <span class="badge badge-success">Active</span>
                                </td>
                            </tr>
                            <tr>
                                <td>Python Programming - MIT</td>
                                <td>2017/02/01</td>
                                <td>MIT</td>
                                <td>
                                    <span class="badge badge-danger">Finished</span>
                                </td>
                            </tr>
                            <tr>
                                <td>Introduction to Javascript</td>
                                <td>2017/10/01</td>
                                <td>Udemy - Harvard </td>
                                <td>
                                    <span class="badge badge-dark">Inactive</span>
                                </td>
                            </tr>
                            <tr>
                                <td>Server side NodeJS </td>
                                <td>2018/03/01</td>
                                <td>Member</td>
                                <td>
                                    <span class="badge badge-warning">Pending</span>
                                </td>
                            </tr>
                            <tr>
                                <td>Ethereum development for Blockchain</td>
                                <td>2018/02/21</td>
                                <td>Lynda online</td>
                                <td>
                                    <span class="badge badge-success">Active</span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <nav>
                        <ul class="pagination">
                            <li class="page-item"><a class="page-link" href="#">Prev</a></li>
                            <li class="page-item active">
                                <a class="page-link" href="#">1</a>
                            </li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item"><a class="page-link" href="#">4</a></li>
                            <li class="page-item"><a class="page-link" href="#">Next</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
        <!--/.col-->
    </div>
    <!--/.row-->


    <div class="row">
        <!--/.col-->
        <div class="col-sm-6 col-md-4">
            <div class="card">
                <div class="card-header">
                    Card with switch
                    <label class="switch switch-sm switch-text switch-info float-right mb-0">
            <input type="checkbox" class="switch-input">
            <span class="switch-label" data-on="On" data-off="Off"></span>
            <span class="switch-handle"></span>
          </label>
                </div>
                <div class="card-body">
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
                </div>
            </div>
        </div>
        <!--/.col-->
        <div class="col-sm-6 col-md-4">
            <div class="card">
                <div class="card-header">
                    Card with label
                    <span class="badge badge-success float-right">Success</span>
                </div>
                <div class="card-body">
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
                </div>
            </div>
        </div>
        <!--/.col-->
        <div class="col-sm-6 col-md-4">
            <div class="card">
                <div class="card-header">
                    Card with label
                    <span class="badge badge-pill badge-danger float-right">42</span>
                </div>
                <div class="card-body">
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
                </div>
            </div>
        </div>
        <!--/.col-->
    </div>
    <!--/.row-->
    <div class="row">
        <!--/.col-->
        <div class="col-sm-6 col-md-4">
            <div class="card card-accent-info">
                <div class="card-header">
                    Card with accent
                </div>
                <div class="card-body">
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
                </div>
            </div>
        </div>
        <!--/.col-->
        <div class="col-sm-6 col-md-4">
            <div class="card card-accent-warning">
                <div class="card-header">
                    Machine Learning Course from Stanford
                    <span class="badge badge-success float-right">50% Completed</span>
                </div>
                <div class="card-body">
                    <button type="button" class="btn btn-primary float-right">Enrol now</button> Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper.
                </div>
            </div>
        </div>
        <!--/.col-->
        <div class="col-sm-6 col-md-4">
            <div class="card card-accent-danger">
                <div class="card-header">
                    Card with accent
                </div>
                <div class="card-body">
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
                </div>
            </div>
        </div>
        <!--/.col-->
    </div>
</div>
